@import 'reset', 'product';

$headerHeigth: 80px;

.fullPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  & > h1 {
    margin: 50px;
    font-size: xx-large;
    box-sizing: border-box;
    max-height: 100px;
  }
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  height: 100vh;
  border: 1px solid black;
  border-width: 0px 1px;

  & > img {
    padding: 15px;
  }

  &_button {
    margin: 0;
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid black;
    border-collapse: collapse;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    font-size: medium;
    cursor: pointer;

    & + .selected,
    &:hover,
    &:focus {
      background-color: grey;
    }
  }
}
.mobile-header {
  display: none;
  width: 100vw;
  height: $headerHeigth;
  justify-content: space-between;
  align-items: center;
  background-color: grey;

  position: fixed;
  padding: 2rem;
  box-sizing: border-box;

  & > img {
    max-height: 40px;
  }

  &_button {
    margin: 0;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    font-size: medium;
    cursor: pointer;
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 0.2rem 0.5rem;
    box-shadow: 2px 2px 5px black;
    transition: all 0.2s ease-in-out;

    & + .selected,
    &:hover,
    &:focus {
      background-color: lightgrey;
      color: rgb(70, 70, 70);
      box-shadow: 1px 1px 1px black;
    }
  }
}

@media (max-width: 700px) {
  .sidebar {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 80px;

    & > img {
      display: none;
    }
  }
  .mobile-header {
    display: flex;
  }
  main {
    margin-top: $headerHeigth;
    height: calc(100vh - 80px);
    box-sizing: border-box;
  }

  .show {
    display: flex;
  }
}
